---
title: Projects
permalink: /projects/
header_image_path: /assets/images/headers/projects.jpg
_comments:
  header_image_path: "The image should be a jpg scaled and cropped to 1200px wide by 350px tall."
pagination: 
  enabled: true
  collection: projects
layout: page
# path: "pages/projects/index.html"
---
<div class="editable"></div>
<div class="project-selection">
  {% assign items = (paginator.posts | sort: 'completion_date') | reverse  %} 
  {% for item in items %}
    <article class="project">
      <a href="{{ item.url }}">
         {% for item in item.photo_gallery limit:1 %}
        <img src="{{ item.thumbnail_image_path }}" alt="{{ page.title }}">
        {% endfor %}
      </a>
      <div class="project-right">
        <header>
          <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
          <div class="proj-location">{{ item.location }}</div>
        </header>
        <p><b>Owner: </b>{{ item.owner }}</p>
        <p><b>Size: </b>{{ item.project_square_footage }} sq ft</p>
        <p><b>General Contractor: </b>{{ item.general_contractor }}</p>
        <p><b>Building Manufacturer: </b>{{ item.building_manufacturer }}</p>
        <div class="proj-link"><a href="{{ item.url }}">More Info.</a></div>
      </div>
    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
    {% if paginator.total_pages > 1 %}
  <div class="pagination clearfix">
      {% if paginator.previous_page %}
          <a class="prev"  href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Projects</a>
      {% endif %}

      {% if paginator.next_page %}
          <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Past Projects &rarr;</a>
      {% endif %}
  </div>
  {% endif %}
{% endif %}
