<div class="footer-wrapper clearfix">
  <footer class="wrap top clearfix">
  	<section class="footer-bottom clearfix">
      <div class="footer-contact">
        <h4><a href="mailto:info@bjc.com">Contact Us.</a></h4>
      </div>
  		<div class="footer-info">
        <h5>Big Johnson Construction</h5>
        <p class="editable">138 West Street</p>
        <p class="editable">P.O. Box 1128</p>
        <p class="editable">Fort Morgan, CO 80701</p>
        <p class="editable">Office: <a href="tel:+19708674709">970-867-4709</a></p>
        <p class="editable">Fax: <a href="tel:+19708674742">970-867-4742</a></p>
  		</div>
   		<div class="footer-right editable">
       <a href="http://www.mbcea.org" target="_blank"><img alt=" Metal Building Contract Erectors Association – MBCEA" src="/assets/images/logos/mbcea.png"></a>
       <a href="https://www.bbb.org" target="_blank"><img alt="BBB" src="/assets/images/logos/bbb.png"></a>

  			<p class="editable">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
   			<p>Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
    	</div>
  	</section>
  </footer>
</div>
