.sidebar article {
	margin-bottom: 1em;
	h4 {
		background: $color-one;
		color: #fff;
		border-radius: 3px 3px 0 0;
		padding: .6em .8em;
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		background: $color-three;
		background-image: linear-gradient(-180deg, #EEEEEE 0%, #D8D8D8 100%);
		border-radius: 0 0 3px 3px;
		display: block;
		li {
			margin: 0;
			list-style: none;
			width: 100%;
			border-bottom: solid 1px #C1C1C1;
			&:last-child {
				border-bottom: none;
			}
			a {
				text-decoration: none;
				display: block;
				padding: .7em 1em;
				transition: all .5s ease;
				background: none;
				font-weight: bold;
				&:hover {
					color: #333;
					background: rgba(239, 239, 239, 0.5);
				}
			}
		}
	}
	.partners {
		text-align: center;
		padding: .5em;
		display: flex;
		flex-wrap: wrap;
		@include clearfix;
		.partner-link {
			float: left;
			width: 50%;
			padding: .5em 1em;
			flex-basis: 50%;
		}
		img {
			margin: 0 auto .5em;
		}
	}
}
