---
layout: page-sidebar
---
{{ page.content }}
<div class="project-selection">
  {% assign items = site.projects | sort: 'weight' %}
  {% for item in items %}
    {% if item.type == page.title %}
      <article class="project">
        <a href="{{ item.url }}"><img src="{{ item.main_image_path }}" alt="{{ item.title }}"></a>
        <div class="project-right">
          <header>
            <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
            <div class="proj-location">{{ item.location }}</div>
          </header>
          <p><b>Owner: </b>{{ item.owner_name }}</p>
          <p><b>Size: </b>{{ item.square_feet }} sq ft</p>
          <p><b>General Contractor: </b>{{ item.contractor_name }}</p>
          <p><b>Building Manufacturer: </b>{{ item.building_manufacturer }}</p>
          <div class="proj-link"><a href="{{ item.url }}">More Info.</a></div>
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
