---
layout: default
---
<main>
  <section class="content-wrapper wrap project partial-width">
    <header>
      {% for item in page.photo_gallery limit:1 %}
      <img src="{{ item.large_image_path }}" alt="{{ page.title }}">
      {% endfor %}
      <h1 class="pagetitle">{{ page.title }}</h1>
      <ul class="proj-subtitle">
        {% if page.location %}<li class="proj-location"><b>Location: </b>{{ page.location }}</li>{% endif %}
        {% if page.owner %}<li class="proj-owner"><b>Owner: </b>{{ page.owner }}</li>{% endif %}
        {% if page.general_contractor %}<li class="proj-contractor"><b>General Contractor: </b>{{ page.general_contractor }}</li>{% endif %}
        {% if page.architect %}<li class="proj-architect"><b>Architect: </b>{{ page.architect }}</li>{% endif %}
        {% if page.project_square_footage %}<li class="proj-sq-feet"><b>Square Footage: </b>{{ page.project_square_footage }}</li>{% endif %}
        {% if page.building_manufacturer %}<li class="proj-manufacturer"><b>Building Manufacturer: </b>{{ page.building_manufacturer }}</li>{% endif %}
      </ul>
    </header>
    <article class="proj-text">
      <p>{{ page.content }}</p>
    </article>
    <footer>
      {% if page.photo_gallery.size > 1 %}
        <article class="proj-gallery">
          <h4>Photo Gallery:</h4>
          {% for item in page.photo_gallery limit:1 offset: 1 %}
            <figure itemscope>
              <a class="gallery-item" href="{{ item.large_image_path }}">
                <img class="gallery-img lrg" src="{{ item.thumbnail_image_path }}" alt="{{ page.title }}" itemprop="image">
              </a>
            </figure>
          {% endfor %}
        </article>
      {% endif %}
    </footer>
      <div class="wrap">
            <ul class="pager">
                {% if page.previous.url %}
                <li class="previous left">
                    <a class="prev" href="{{page.previous.url}}">&laquo; Previous Project</a> {% endif %} {% if page.next.url %}
                </li>{% endif %} {% if page.next.url %}
                <li class="next right">
                    <a class="next" href="{{page.next.url}}">Next Project &raquo;</a>
                </li>
            </ul>
            {% endif %}
        </div>
  </section>
  {% include sidebar.html %}
</main>
